[Interface]
Address = 10.10.0.1/24
ListenPort = 51820
PrivateKey = {{claves.server.private_key_server}}

[Peer]
PublicKey = {{claves.peers.client1.public_key}}
AllowedIPs = {{claves.server.allowed_ips}}
