- name: crear directorio de almacenamiento de las vm's
  ansible.builtin.file:
    path: "{{ parent_folder }}/storage"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"
  become: true

- name: crear discos virtuales de las vm's sino existen
  ansible.builtin.shell: |
    qemu-img create -f qcow2 {{ item.name }}.qcow2 {{item.disk_size}}G
  args:
    chdir: "{{ storage_path }}"
    creates: "{{ storage_path }}/{{ item.name }}.qcow2"
  loop: "{{vm_list}}"
  become: true

- name: Crear vm's
  ansible.builtin.shell: |
    virt-install \
       --name "{{ item.name }}" \
       --ram  {{ item.memory }} \
       --vcpus {{ item.cpus }} \
       --cpu host \
       --disk path="{{storage_path}}/{{item.name}}".qcow2,format=qcow2,size=20 \
       --cdrom {{iso_out}} \
       --network network=default,mac={{item.mac1}} \
       --graphics none \
       --console pty,target_type=serial \
       --os-variant {{os_variant}} \
       --boot cdrom,hd \
       --noautoconsole \
       --noreboot
  loop: "{{vm_list}}"
  become: true
