# Paso 2  configurar wg0
- name: cargar las variables
  include_vars:
    file: "{{ playbook_dir }}/../vars/vars_saved.yml"
    name: claves
  become: true

- name: Copiar el archivo de configuración wg0.conf
  ansible.builtin.template:
    src: "wg0.conf.client.j2"
    dest: "/etc/wireguard/wg0.conf"
    owner: root
    group: root
    mode: "0644"
  become: true

- name: Levantar la interfaz virtual wg0 (abrir esa puerta para comunicarnos)
  ansible.builtin.command: ip link set wg0 up
  ignore_errors: true
  become: true

- name: Asegurar que wg0 esté arriba
  ansible.builtin.shell: |
    set -e
    wg-quick down wg0 || true
    wg-quick up wg0
  ignore_errors: true
  become: true
